body {
    font-family: "Georgia", Times, "Times New Roman", serif;
}

header {
    height: 75px;
    background-color: #ffffff;
    margin: 0px;
}

.headerleft {
    width: 70%;
    float: left;
}

.headerright {
    float: right;
}

h1 {
    height: 55px;
    padding: 10px;
    font-size: 45px;
    margin: 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 50%;
    text-align: center;
}

.navlink1 {
    width: 10%;
    position: absolute;
    right: 40%;
    top: 25px;
}

.navlink2 {
    width: 10%;
    position: absolute;
    right: 35%;
    top: 25px;
}

.navlink3 {
    width: 10%;
    position: absolute;
    right: 29%;
    top: 25px;
}

.everything {
    width: 960px;
    height: 75px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    color: #777777;
}

h2 {
    font-size: 30px;
    font-weight:bold;
    color: #4aaaa5;
}

.portrait {
    float: left;
    margin-right: 10px;
    height: 150px;
    width: 150px;
}

.container0 {
    margin: 5px;
    line-height: 1.5;
}

footer {
    position: absolute;
    text-align: center;
    background-color: #666666;
    bottom: 0px;
    width: 100%;
    line-height: 1.5;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside; 
}

 ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
}

ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
}

ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
}

.img {
    height: "200";
    width: "200";
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container1, .container2, .container3, .container4, .container5 {
    margin: 10px;
    float: left;
    width: 34%;
}

.container1:hover {
    opacity: .75;
}

.container2:hover {
    opacity: .75;
}

.container3:hover {
    opacity: .75;
}

.container4:hover {
    opacity: .75;
}

.container5:hover {
    opacity: .75;
}

.banner1, .banner2, .banner3, .banner4, .banner5 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 200px;
    height: 20px;
    position: relative;
    top: -50px;
    padding: 10px 0px 10px 0px;
}

.navbar {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

.navbarlink {
    float: left;
}

.navbarlink a {
    display: inline-block;
    color:#4aaaa5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlink a:hover {
    background-color: #5E7F7E;
    color: white;
}

#active {
    background-color:#4aaaa5;
    color: white;
}

textarea {
    width: 50%;
    height: 250px;
}